*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("loginbg.jpg");
    background-size: 1290px 700px;
    background-repeat: no-repeat;
}

.logo{

    height: 55px;
    width: 55px;
}

.head1{
    
    color: rgb(203, 121, 215);
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 50px;
}

.head2{
    
    margin: 23px;
    color: cornflowerblue;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px;
}
.container{
    margin: 50px 380px 0px;
    height: 500px;
    width: 500px;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
}
.container2{
    margin-top: 40px;
    
}

.btn{
    margin-left: 85px;
    transition-duration: 0.4s;
  background-color: #d97ae7; 
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
    background-color: #6654b8; /* Green */
    color: white;
  }
.box{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    
    box-sizing: border-box;
    border-bottom: 2px solid blueviolet;
    margin-left: 50px;
    margin-bottom: 20px;
}
    
.cont{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
